body, dl, dd, dt, ul, div, html, p, form {
	margin: 0;
	padding: 0
}
html {
	background-color: #fff;
	-webkit-text-size-adjust: none
}
body {
	line-height: 130%;
	font-size: 14px;
	font-family: arial;
	word-wrap: break-word
}
ul, li {
	list-style: none
}
a {
	color: #1665be;
	text-decoration: none
}
img {
	border: 0
}
.arrow:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%
}
.arrow_solid:after {
	border: 4px solid;
	border-color: #000 transparent transparent;
	margin: -2px 0 0 -4px;
	-webkit-transform-origin: 50% 25%;
	transform-origin: 50% 25%
}
.global_icon {
	background-image: url(http://tb2.bdstatic.com/tb/mobile/sglobal/img/sglobal_icon.png);
	background-repeat: no-repeat;
	-webkit-background-size: 70px 528px;
	background-size: 70px 528px
}
.search_header {
	font-size: 14px;
	background-color: #fcfcfc;
	border-bottom: 1px solid #d1d1d1
}
.new_header {
	height: 42px;
	border-top: 1px solid white;
	overflow: hidden;
	position: relative
}
.new_header_left {
	position: absolute;
	top: 5px;
	left: 6px;
	background: #fafbfc -webkit-gradient(linear,0 0,0 100%,from(#fafbfc),to(#e9e9ea))
}
.new_header_baidu {
	display: block;
	float: left;
	width: 45px;
	height: 30px;
	border: 1px solid #e8eaed;
	color: #586473;
	text-align: center;
	font-size: 16px;
	line-height: 30px
}
.new_header_more {
	display: block;
	float: right;
	width: 45px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #e8eaed;
	border-left: none;
	position: relative;
	color: #586473;
	font-size: 16px;
	background-position: 0 -400px
}
.new_header_more:after {
	left: 35px;
	border-top-color: #576373
}
.new_header_title {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -36px;
	font-size: 18px;
	line-height: 43px;
	color: #586473
}
.new_header_search {
	display: block;
	position: absolute;
	margin: 1px;
	top: 5px;
	right: 6px;
	width: 46px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #586473;
	font-size: 16px;
	background-position: 0 -430px
}
.new_header_search_active {
	margin: 0
}
.switch_product {
	width: 100%;
	border-top: 1px solid #cecece;
	overflow: hidden;
	display: none
}
.search_nav_a {
	display: block;
	float: left;
	width: 20%;
	color: #545164;
	text-align: center;
	line-height: 36px;
	font-weight: bold;
	overflow: hidden
}
#list_pager.total_out .page_turn_block:not(
:nth-child(3)) {
	border-radius: 3px;
	border: 1px solid #cdd0d4;
	box-shadow: 0 1px 0 #acadaf
}
#list_pager input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0
}