<!Doctype html>
<html xmlns=http://www.w3.org/1999/xhtml>
	<head>
		<meta http-equiv=Content-Type content="text/html;charset=utf-8">
		<meta http-equiv=X-UA-Compatible content=IE=EmulateIE7>
		<title>{{ page.title }} &#8211; {{site.title_suffix }}</title>

		<!-- style -->
		<style type="text/css">
		</style>

		<!-- css -->
		<link href="http://su.bdimg.com/static/nav/css/nav_min_f89eec6c.css" type=text/css rel=stylesheet>

	</head>

	<body>
		<div id="gradient">
			<div id="container" class="container">
			
				<div id="content" class="span-24 last">
					{{ content }}
				</div>
				
				<div class="c">
					&nbsp;
				</div>

			</div>
		</div>
		<!-- script -->

		<script src="http://su.bdimg.com/static/superpage/js/sbase_7f758252.js"></script>

		<script></script>
	</body>
</html>